# This file is used to set environment variables for the docker-compose.yml file
# modify this value so match the project name so you can run different projects on the same machine
PROJ_PREFIX=myproj
MYW_DB_NAME=dev_db
APP_PORT=81