# This file is used to set environment variables for the docker-compose.yml file
# modify this value so match the project name so you can run different projects on the same machine
PROJ_PREFIX=myproj
MYW_DB_NAME=dev_db

#uncomment and adjust values to be able to run several projects on the same machine
#APP_PORT=81
#POSTGIS_PORT=5433
#SELENIUM_PORT=4445

#if host machine has Arm CPU architecture (Mac M1 for example), uncomment the following line
#SELENIUM_IMAGE=seleniarm/standalone-chromium