services:
    postgis:
        image: ghcr.io/iqgeo/utils-docker-postgis/postgis:12-3.4
        container_name: postgis_${PROJ_PREFIX:-myproj}
        restart: always
        environment:
            POSTGRES_USER: ${DB_USERNAME:-iqgeo}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
        ports:
            - ${POSTGIS_PORT:-5432}:5432
        volumes:
            - pgdata:/var/lib/postgresql/data

    iqgeo_myproj_devserver:
        container_name: iqgeo_${PROJ_PREFIX:-myproj}
        restart: always
        build:
            context: ./
            dockerfile: dockerfile
            args:
                - CONTAINER_REGISTRY=${CONTAINER_REGISTRY:-harbor.delivery.iqgeo.cloud/releases/}
        environment:
            PGHOST: postgis
            PGPORT: 5432
            PGUSER: ${DB_USERNAME:-iqgeo}
            PGPASSWORD: ${DB_PASSWORD:-password}
            MYW_DB_NAME: ${MYW_DB_NAME:-iqgeo}
            MYW_DB_HOST: postgis
            MYW_DB_PORT: 5432
            MYW_DB_USERNAME: ${DB_USERNAME:-iqgeo}
            MYW_DB_PASSWORD: ${DB_PASSWORD:-password}
            BEAKER_SESSION_TYPE: ${BEAKER_SESSION_TYPE:-ext:memcached}
            BEAKER_SESSION_URL: ${BEAKER_SESSION_URL:-memcached:11211}
            KEYCLOAK_URL: ${KC_PROTOCOL:-http://}${KC_HOST:-keycloak}:${KEYCLOAK_PORT:-8080}
            MYW_EXT_BASE_URL: http://${EXTERNAL_IP:-localhost}:${APP_PORT:-80} # for access from other devices (e.g. iPad running anywhere)
            MYW_BUILD_BASE_URL: http://iqgeo # address internal to docker network, to run server, js and gui tests
            MYW_WEBDRIVER_URL: http://selenium-chrome:4444 # run UI tests in selenium container
            APACHE_ERROR_LOG: /var/log/apache2/error.log
        ports:
            - ${APP_PORT:-80}:80
        volumes:
            # add data folder to share data between host and container
            - ../data:/opt/iqgeo/platform/WebApps/myworldapp/modules/data:delegated
            # Map host directories and files into the container individually, to allow container to be created without losing platform directories
            - ../.vscode:/opt/iqgeo/platform/WebApps/myworldapp/modules/.vscode:delegated
            - ../.devcontainer:/opt/iqgeo/platform/WebApps/myworldapp/modules/.devcontainer:delegated
            - ../.git:/opt/iqgeo/platform/WebApps/myworldapp/modules/.git:delegated
            - ../.github:/opt/iqgeo/platform/WebApps/myworldapp/modules/.github:delegated
            - ../.prettierrc:/opt/iqgeo/platform/WebApps/myworldapp/modules/.prettierrc:delegated
            - ../.gitignore:/opt/iqgeo/platform/WebApps/myworldapp/modules/.gitignore:delegated
            - ../README.md:/opt/iqgeo/platform/WebApps/myworldapp/modules/README.md:delegated

            - js_bundles:/opt/iqgeo/platform/WebApps/myworldapp/core/public/bundles # to keep builds when container is recreated

            # Map host module directories to the container
            # START SECTION - if you edit these lines manually note that your change will get lost if you run the IQGeo Project Update tool
            - ../custom:/opt/iqgeo/platform/WebApps/myworldapp/modules/custom:delegated
            # END SECTION
        depends_on:
            - postgis
            - keycloak

    keycloak:
        container_name: keycloak_${PROJ_PREFIX:-myproj}
        image: ghcr.io/iqgeo/utils-keycloak-iqgeo/keycloak:latest
        restart: always
        command: start-dev --import-realm
        environment:
            KC_HOSTNAME: keycloak
            KC_HOSTNAME_PORT: ${KEYCLOAK_PORT:-8080}
            KC_HTTP_PORT: ${KEYCLOAK_PORT:-8080}
            KEYCLOAK_ADMIN: admin
            KEYCLOAK_ADMIN_PASSWORD: _mywWorld_
            KC_PROXY: edge
            IQGEO_DOMAIN: http://localhost:${APP_PORT:-80}
            IQGEO_CLIENT_SECRET: qpyu1mCm8zvvKTXRnKxwap1A6xMChuY6
        ports:
            - ${KC_HTTPS_PORT:-8443}:${KC_HTTPS_PORT:-8443}
            - ${KEYCLOAK_PORT:-8080}:${KEYCLOAK_PORT:-8080}

    memcached:
        container_name: memcached_${PROJ_PREFIX:-myproj}
        image: memcached:latest
        restart: always

    pgadmin:
        container_name: pgadmin_${PROJ_PREFIX:-myproj}
        image: dpage/pgadmin4
        restart: unless-stopped
        environment:
            PGADMIN_DEFAULT_EMAIL: someone@iqgeo.com
            PGADMIN_DEFAULT_PASSWORD: pgadmin
        ports:
            - ${PGADMIN_PORT:-8090}:80
        volumes:
            - ./pgadmin_servers.json:/pgadmin4/servers.json
            - pgadmin-data:/var/lib/pgadmin #Define a volume name so a random name is not used
        depends_on:
            - postgis

volumes:
    pgdata:
        name: ${PROJ_PREFIX:-myproj}_pgdata
    pgadmin-data:
        name: ${PROJ_PREFIX:-myproj}_pgadmin_data
    js_bundles:
        name: ${PROJ_PREFIX:-myproj}_js_bundles
