# Copyright (c) 2010-2025 IQGeo Group Plc. Use subject to conditions at $MYWORLD_HOME/Docs/legal.txt

import time

from typing import Any
from myworldapp.core.server.tasks.myw_base_task import MywBaseTask, myw_task


@myw_task(name="long_running_task")
class LongRunningTask(MywBaseTask):
    """
    A long running task that will take a specified number of seconds to complete
    """

    def execute(self, **kwargs: Any) -> str | None:

        seconds = kwargs.get("seconds", 60)
        sleep_time = seconds / 10

        for i in range(0, 100, 10):
            self.progress(4, f"Progress: {i}%", progress_percent=i)
            time.sleep(sleep_time)

        self.progress(4, f"Progress: 100%", progress_percent=100)

        return f"Long running task completed after {seconds} seconds"
